body {
  background: linear-gradient(135deg, #ffe0f7 0%, #f8bbd0 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
h3 {
  font-family: "poppins", cursive;
  color: #e75480; /* warna pink lembut */
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  font-family: "poppins", cursive;
}
.container {
  position: relative;
  z-index: 2;
  background: rgba(255, 240, 246, 0.3);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(231, 84, 128, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1.5px solid rgba(248, 187, 208, 0.4);
  padding: 16px 12px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fade-in 0.75s ease-in-out forwards;
}
.foto {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  width: auto;
}
input[type="text"] {
  padding: 10px 16px;
  border: 2px solid #f8bbd0;
  border-radius: 8px;
  background-color: #fff0f6;
  font-size: 16px;
  color: #d81b60;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #e75480;
}

button {
  padding: 10px 24px;
  background-color: #fff; /* putih */
  color: #e75480; /* pink tua */
  border: 2px solid #e75480;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(231, 84, 128, 0.15);
  transition: background 0.3s, transform 0.2s, color 0.3s;
}

button:hover {
  background-color: #e75480; /* pink muda saat hover */
  color: #fff; /* teks putih saat hover */
  transform: translateY(-2px) scale(1.03);
}
.sakura {
  position: fixed;
  top: -40px;
  z-index: 1;
  pointer-events: none;
  animation: sakura-fall-diagonal linear forwards;
}

@keyframes sakura-fall-diagonal {
  to {
    transform: translate(0, 110vh) rotate(360deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translatey(-25px);
  }
}
